<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>e-Ruang | Berita</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="../img/logonf.png" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:wght@500;600;700&family=Open+Sans:wght@400;500&display=swap"
        rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="../lib/animate/animate.min.css" rel="stylesheet">
    <link href="../lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="../lib/lightbox/css/lightbox.min.css" rel="stylesheet">
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
</head>

<body style="background:url(../img/icon/bg-transparent.png); background-size: contain;background-repeat: no-repeat;">
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-border" role="status" style="width: 3rem; height: 3rem;color: #0081C9;"></div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light sticky-top p-0">
        <a href="../index.html" class="navbar-brand d-flex align-items-center px-4 px-lg-5">
            <img src="../img/logonf.png" alt="logo" class="navbar-logo m-1" width="40px">
            <h5 class="m-1 text-white" style="text-shadow: 0 0 45px rgba(0, 0, 0, 0.635);">e-Ruang Nurul Fikri</h5>
        </a>
        <button type="button" class="navbar-toggler me-4" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav ms-auto p-4 p-lg-0">
                <a href="../index.html" class="nav-item nav-link text-white">Home</a>
                <a href="./fasilitas.html" class="nav-item nav-link text-white">Fasilitas</a>
                <a href="./booking.html" class="nav-item nav-link text-white">Booking</a>
                <a href="./berita.html" class="nav-item nav-link active" style="color: #FF7000;">Berita</a>
                <a href="./tentang.html" class="nav-item nav-link text-white">Tentang Kami</a>
            </div>
            <a href="./admin-login.html" class="btn btn-primary py-4 px-lg-4 rounded-0 d-none d-lg-block"
                style="background-color: #FF7000;border-color:#FF7000">Login<i class="fa fa-arrow-right ms-3"></i>
            </a>
        </div>
    </nav>

    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center py-5">
            <h1 class="display-3 text-white mb-4 animated slideInDown">Berita</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb justify-content-center mb-0">
                    <li class="breadcrumb-item"><a href="../index.html">Home</a></li>
                    <li class="breadcrumb-item text-black-50 active" aria-current="page">Berita</li>
                </ol>
            </nav>
        </div>
    </div>

    <div class="container-xxl py-5">
        <div class="container">
            <div class="row g-5 p-5 rounded-3"
                style="background: #0081C9;color: #ffff;box-shadow: 0 0 45px rgba(0, 0, 0, 0.511)">
                <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="fs-5 fw-bold text-white">Berita</h1>
                    <h1 class="display-5 mb-5 text-white">Testimoni yang klien e-Ruang katakan!</h1>
                    <a class="btn py-3 px-4 text-white" style="background: #FF7000;" href="">Lihat Detai</a>
                </div>
                <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="owl-carousel testimonial-carousel">
                        <div class="testimo4nial-item">
                            <img class="img-fluid rounded mb-3" src="../img/nathan-fillion.png" alt="">
                            <p class="fs-5">e-Ruang Nurul Fikri menurut saya memberikan pelayanan terbaik kelas dunia
                                dan begitu nyaman. Kedepan nya saya akan menggunakan pelayanan e-Ruang lagi untuk setiap
                                event yang saya adakan.
                            </p>
                            <h4 class="text-white">Franky</h4>
                            <span>Customer</span>
                        </div>
                        <div class="testimonial-item">
                            <img class="img-fluid rounded mb-3" src="../img/testimonial-2.jpg" alt="">
                            <p class="fs-5">WOW ini pengalaman terbaik seumur hidup saya, e-Ruang Nurul Fikri
                                berfasilitas sangat
                                lengkap dan menakjubkan, outstanding for e-Ruang Nurul Fikri mantappp!!!
                            </p>
                            <h4 class="text-white">John</h4>
                            <span>Customer</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid text-light footer p-3 wow fadeIn"
        style="background-color: #0081C9;box-shadow: 0 0 45px rgba(0, 0, 0, 0.398);" data-wow-delay="0.1s">
        <div class="container">
            <div class="row g-5 ">
                <div class="col-md-4">
                    <h4 class="text-white mb-4">e-Ruang Nurul Fikri</h4>
                    <p class="mb-2 text-start"><i class="fa fa-map-marker-alt text-light me-3"></i>Jagakarsa, Jakarta
                        Selatan,
                        Indonesia</p>
                    <p class="mb-2 text-start"><i class="fa fa-phone-alt text-light me-3"></i>+012 345 67890</p>
                    <p class="mb-2 text-start"><i class="fa fa-envelope text-light me-3"></i>info@nurulfikri.com</p>
                    <div class="d-flex pt-2 justify-content-around">
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                                class="fab fa-twitter"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                                class="fab fa-facebook-f"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                                class="fab fa-youtube"></i></a>
                        <a class="btn btn-square btn-outline-light rounded-circle me-2" href=""><i
                                class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-4">
                    <h4 class="text-white mb-4">Booking</h4>
                    <a class="btn btn-link" href="fasilitas.html">Meeting Room Garuda</a>
                    <a class="btn btn-link" href="fasilitas.html">Confereence Room Nuri</a>
                    <a class="btn btn-link" href="fasilitas.html">Aula Cendrawasi</a>
                </div>
                <div class="col-md-4">
                    <h4 class="text-white mb-4">Menu</h4>
                    <a class="btn btn-link" href="../index.html">Home</a>
                    <a class="btn btn-link" href="fasilitas.html">Fasilitas</a>
                    <a class="btn btn-link" href="booking.html">Booking</a>
                    <a class="btn btn-link" href="berita.html">Berita</a>
                    <a class="btn btn-link" href="tentang.html">Tentang Kami</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid copyright py-4"
        style="background-color: #FF7000; box-shadow: 0 0 45px rgba(0, 0, 0, 0.398);">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="#">e-Ruang Nurul Fikri</a>, All Right Reserved.
                </div>
                <div class="col-md-6 text-center text-md-end">
                    Designed By <a class="border-bottom" href="">Satu Team</a>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="btn btn-lg btn-lg-square rounded-circle back-to-top"
        style="background-color: #FF7000;box-shadow: 0 0 45px rgba(0, 0, 0, .398);"><i
            class="bi bi-arrow-up text-light"></i></a>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../lib/wow/wow.min.js"></script>
    <script src="../lib/easing/easing.min.js"></script>
    <script src="../lib/waypoints/waypoints.min.js"></script>
    <script src="../lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="../lib/counterup/counterup.min.js"></script>
    <script src="../lib/parallax/parallax.min.js"></script>
    <script src="../lib/isotope/isotope.pkgd.min.js"></script>
    <script src="../lib/lightbox/js/lightbox.min.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>
